Source: context
Section: tex
Priority: optional
Maintainer: Debian TeX maintainers <debian-tex-maint@lists.debian.org>
Uploaders: Norbert Preining <preining@debian.org>
Build-Depends: debhelper (>= 5.0.35), dpatch
Build-Depends-Indep: tex-common (>= 0.16)
Standards-Version: 3.7.2

Package: context
Section: tex
Architecture: all
Depends: ${misc:Depends}, texlive-base-bin, texlive-base, texlive-metapost
Suggests: perl-tk
Conflicts: texlive-context, tetex-bin, tetex-base
Replaces: texlive-context
Provides: texlive-context
Description: A powerful TeX format.
 ConTeXt is a typographical engine written in the typographical computer 
 language TeX. ConTeXt provides you with a convenient way to encode documents 
 in a structured way and to typeset these documents in various ways on paper, 
 computer screen or web site.
 .
 Use ConTeXt to create simple documents and complex layouts. From a single 
 source produce traditional paper documents as well as highly interactive 
 electronic documents. Combine text and graphics and other information in
 your document in different ways. Move around, use and reuse information 
 and typeset in one or more natural languages.
 .
 This package also contains MetaFun. MetaFun (a superset of well known 
 MetaPost) is a powerful system for vector graphics that is fully integrated
 into ConTeXt thereby reaching its full potential for the first time, but
 also usable as a stand alone product. 
 .
 MetaFun is not for interactive drawing applications and not for free hand 
 drawings. Its strength lies in the ability to enhance the document layout
 with highly accurate graphics elements.
