Source: context
Section: tex
Priority: optional
Maintainer: Debian TeX maintainers <debian-tex-maint@lists.debian.org>
Uploaders: Norbert Preining <preining@debian.org>
Build-Depends: debhelper (>= 5.0.35), dpatch
Build-Depends-Indep: tex-common (>> 0.35)
Standards-Version: 3.7.2

Package: context
Section: tex
Architecture: all
Depends: tex-common (>> 0.35), ruby, texlive-base-bin, texlive-base, texlive-metapost
Suggests: perl-tk, fontforge, context-nonfree
Conflicts: texlive-context, tetex-bin, tetex-base
Replaces: texlive-context
Provides: texlive-context
Description: powerful TeX format
 ConTeXt is a document-production system based on the TeX typesetting
 system.  It was designed with the same aims as LaTeX but, being newer,
 reflects more recent thinking about document markup and is more
 unified in its design.  It includes extensive support for colors,
 hyperlinks, presentations, figure-text integration, and conditional
 compilation.  ConTeXt gives extensive formatting control to the end
 user and makes it easy to create new layouts and styles without  
 learning the TeX macro language.  ConTeXt's unified design averts the
 package clashes that can happen with LaTeX.
 .
 ConTeXt also integrates MetaFun, a superset of MetaPost and a powerful
 system for vector graphics.  MetaFun can be used as a stand-alone
 system to produce figures, but its strength lies in enhancing ConTeXt
 documents with accurate graphic elements.
 .
 ConTeXt allows the users to use formatting commands in English, Dutch,
 German, French, or Italian, and to use different typesetting engines
 (PDFTeX, XeTeX, Aleph, and soon LuaTeX) without changing the user
 interface.  ConText is developed rapidly, has a friendly user
 community, and illustrates the free-software philosophy of "release
 often", sometimes twice a day!
