Source: context
Section: tex
Priority: optional
Maintainer: Debian TeX maintainers <debian-tex-maint@lists.debian.org>
Uploaders: Norbert Preining <preining@debian.org>
Build-Depends: debhelper (>= 5.0.35), dpatch
Build-Depends-Indep: tex-common (>> 0.35)
Standards-Version: 3.7.2

Package: context
Section: tex
Architecture: all
Depends: tex-common (>> 0.35), ruby, texlive-base-bin, texlive-base, texlive-metapost
Suggests: perl-tk, fontforge, context-nonfree
Conflicts: texlive-context, tetex-bin, tetex-base
Replaces: texlive-context
Provides: texlive-context
Description: powerful TeX format
 ConTeXt is a document preparation system based on the TeX typesetting
 system. It was designed with the same general-purpose aims as LaTeX,
 but being younger reflects much more recent thinking about the
 structure of the markup, is more modular in its conception, and more
 monolithic in its building. ConTeXt gives more control to the "end
 user" and makes it easier to create new layout without learning TeX
 macro language. ConTeXt is consistent in its design, and does not
 suffer from the "package clashes" in LaTeX.
 .
 ConTeXt also integrates MetaFun which is a superset of MetaPost and a
 powerful system for vector graphics. Metafun can be used as a stand
 alone product, but its strength lies in the ability to enhance the
 document layout with highly accurate graphic elements.
 .
 ConTeXt allows the users to use markup in different languages. Markup
 in English, Dutch, German, French and Italian is supported at present.
 ConTeXt allows the user to use different engines (pdftex, XeTeX,
 aleph, luatex) without changing the user interface.
