#! /usr/bin/make -f

package        := context
instbase       := debian/$(package)

build: build-indep
# We have nothing to do here but the Debian Policy says this target must
# exist.

build-indep: build-indep-stamp

build-indep-stamp:
	touch build-indep-stamp

clean: 
	dh_testroot
	rm -f build-indep-stamp
	dh_clean

binary-indep: build-indep
	dh_testdir 
	dh_testroot
	dh_clean
	dh_installdirs usr/share/texmf
	cp -a scripts bibtex context fonts metapost tex web2c 	\
		$(instbase)/usr/share/texmf
	# this file is not needed
	rm $(instbase)/usr/share/texmf/web2c/context.cnf
	# switch to ruby
	#rm -r $(instbase)/usr/share/texmf/scripts/context/ruby
	rm -r $(instbase)/usr/share/texmf/scripts/context/stubs
	#we still need the perl scripts
	#rm -r $(instbase)/usr/share/texmf/scripts/context/perl
	rm -r $(instbase)/usr/share/texmf/context/examplap
	rm -r $(instbase)/usr/share/texmf/fonts/map/dvipdfm

	# we need a check here that all maps are installed
	# use context.formats and context.maps in debian dir
	dh_installtex
	
	dh_installdirs usr/bin etc/texmf/context/config

	# install our context-format creation script
	cp debian/ctxfmtutil $(instbase)/usr/bin
	# and the formats definitions
	cp debian/formats.cnf $(instbase)/etc/texmf/context/config

	# switch to ruby
	cp scripts/context/stubs/unix/* $(instbase)/usr/bin
	cp debian/texmfstart $(instbase)/usr/bin

	dh_installman				\
		doc/scripts/context/perl/texshow.1		\
		debian/manpages/makempy.man			\
		debian/manpages/texexec.man			\
		debian/manpages/texfind.man			\
		debian/manpages/texutil.man

	dh_installdocs
	dh_installchangelogs
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary-arch:
# We have nothing to do here but the Debian Policy says this target must
# exist.

binary: binary-indep binary-arch

.PHONY: clean build build-indep binary binary-indep binary-arch
