#! /usr/bin/make -f

package        := context
instbase       := debian/$(package)


include /usr/share/dpatch/dpatch.make

build: build-indep
# We have nothing to do here but the Debian Policy says this target must
# exist.

build-indep: build-indep-stamp

build-indep-stamp: patch-stamp
	touch build-indep-stamp

clean: unpatch
	dh_testroot
	rm -f build-indep-stamp
	dh_clean

binary-indep: build-indep
	dh_testdir 
	dh_testroot
	dh_clean
	dh_installdirs usr/share/texmf
	cp -a scripts bibtex context fonts metapost tex web2c 	\
		$(instbase)/usr/share/texmf
	# this file is not needed
	rm $(instbase)/usr/share/texmf/web2c/context.cnf
	rm -rf $(instbase)/usr/share/texmf/scripts/context/ruby
	rm -rf $(instbase)/usr/share/texmf/scripts/context/stubs
	rm -rf $(instbase)/usr/share/texmf/context/examplap

	# we need a check here that all maps are installed
	# use context.formats and context.maps in debian dir
	dh_installtex
	
	# now for the scripts!
	dh_installdirs usr/bin
	cp scripts/context/perl/texexec.pl $(instbase)/usr/bin/texexec
	cp scripts/context/perl/texutil.pl $(instbase)/usr/bin/texutil
	cp scripts/context/perl/texshow.pl $(instbase)/usr/bin/texshow
	cp scripts/context/perl/texfont.pl $(instbase)/usr/bin/texfont
	cp scripts/context/perl/texfind.pl $(instbase)/usr/bin/texfind
	cp scripts/context/perl/makempy.pl $(instbase)/usr/bin/makempy
	cp scripts/context/perl/mptopdf.pl $(instbase)/usr/bin/mptopdf
	cp scripts/context/perl/pdftrimwhite.pl $(instbase)/usr/bin/pdftrimwhite

	dh_installman				\
		doc/scripts/context/perl/texshow.1		\
		debian/manpages/makempy.man			\
		debian/manpages/texexec.man			\
		debian/manpages/texfind.man			\
		debian/manpages/texutil.man

	dh_installchangelogs
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary-arch:
# We have nothing to do here but the Debian Policy says this target must
# exist.

binary: binary-indep binary-arch

.PHONY: clean build build-indep binary binary-indep binary-arch
