#! /usr/bin/make -f

include /usr/share/quilt/quilt.make

package        := context
instbase       := debian/$(package)

build: build-indep

build-indep: build-indep-stamp

build-indep-stamp: $(QUILT_STAMPFN)
	touch build-indep-stamp

clean: unpatch
	dh_testroot
	rm -f build-indep-stamp
	# rm -rf bibtex context doc fonts metapost scripts tex tpm web2c
	dh_clean

binary-indep: build-indep
	dh_testdir 
	dh_testroot
	dh_clean
	dh_installdirs usr/share/texmf usr/share/doc/$(package)	\
		var/lib/texmf/web2c/pdftex	\
		etc/texmf/tex/context/user
	cp -a texmf-dist/* $(instbase)/usr/share/texmf
	# move user config file to /etc
	mv $(instbase)/usr/share/texmf/tex/context/user/cont-sys.rme	\
		$(instbase)/etc/texmf/tex/context/user
	rmdir $(instbase)/usr/share/texmf/tex/context/user

	dh_installtex --flavor=format:no_links
	dh_installdirs usr/bin

	#
	# scripts dealing
	rm -r $(instbase)/usr/share/texmf/scripts/context/stubs
	cp texmf-dist/scripts/context/stubs/unix/* $(instbase)/usr/bin

	#
	# documentation
	rm -r $(instbase)/usr/share/texmf/doc
	cp -a texmf-dist/doc/context/* $(instbase)/usr/share/doc/$(package)
	# remove the doc under texmf
	dh_installman texmf/doc/man/man1/*.1
	# disabled
	#dh_installman debian/manpages/*.man
	dh_installdocs debian/changelog.Debian.prerelease	\
			debian/MANIFEST.nonfree	debian/MANIFEST.doc-nonfree \
			debian/README.MarkIV debian/Release_Notes

	# lintian override for script-not-executable
	install -D --mode=644 debian/override $(instbase)/usr/share/lintian/overrides/$(package)

	dh_installmenu
	dh_installchangelogs
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary-arch:
# We have nothing to do here but the Debian Policy says this target must
# exist.

binary: binary-indep binary-arch

.PHONY: clean build build-indep binary binary-indep binary-arch
